@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-neutral-100 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100 selection:bg-neutral-900 selection:text-neutral-100 dark:selection:bg-neutral-100 dark:selection:text-neutral-900  ;
}
